article {
    margin-bottom: 98px;
    width: 1300px;
}

//Секция по выбору карт
.card {
    @include flex_justify-between;
    margin-top: 130px;
    width: 100%;

    &__choice {
        display: flex;
        flex-direction: column;

        & span {
            display: block;
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
            word-break: break-word;
        }

        & h2 {
            margin: 0;
            margin-bottom: 52px;
            word-break: break-word;
            color: $h;
        }
    }

    &__button {
        width: 160px;
    }

    &__grid {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 535px;

        & img {
            margin: 0px 0px 8px 0px;
        }

        @media (max-width: 900px) {
            width: 100%;
        }
    }
}

@media (max-width: 1100px) {
    article {
        margin-left: 5px;
        margin-right: 5px;
    }

    .card {
        &__choice {
            & span {
                font-size: 30px;
                line-height: 35px;
            }
        }
    }
}

@media (max-width: 910px) {
    .card {
        justify-content: center;
        flex-direction: column;

        &__choice {
            justify-content: center;
            align-items: center;

            & span {
                font-size: 28px;
                line-height: 32px;
            }

            & h2 {
                margin-bottom: 42px;
            }
        }

        &__button {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 500px) {
    .card {
        &__choice {
            & h2 {
                margin-bottom: 32px;
            }
        }
    }
}

//Секция с функциями которые предоставляет банк
.functions {
    @include flex_justify-between;
    margin-bottom: 48px;

    & figure {
        margin-top: 112px;
    }

    &__case {
        margin-top: 186px;
        margin-left: 74px;

        & h3 {
            margin: 0;
            margin-bottom: 20px;
            font-size: 35px;
            word-break: break-word;
            line-height: 50px;
            color: #0B132A;
        }

        & aside {
            word-break: break-word;
            word-wrap: break-word;
            font-weight: 400;
            color: #4F5665;

            @media (max-width:950px) {
                width: 270px;
            }
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: flex;
        font-size: 14px;
        font-weight: 400px;
        line-height: 30px;
        color: #4F5665;
        margin-bottom: 10px;
    }
}

.fa-check-circle {
    margin-right: 18px;
    color: #2FAB73;
}

@media (max-width:910px) {
    .functions {
        & figure {
            margin-top: 90px;

            & img {
                width: 100%;
            }
        }

        &__case {
            margin-top: 96px;
            margin-left: 64px;
        }
    }

}

@media (max-width:500px) {
    .functions {
        flex-direction: column;

        & figure {
            margin-top: 45px;
            float: left;

            & img {
                width: 70%;
            }
        }

        &__case {
            margin-top: 6px;
            margin-left: 20px;
        }
    }
}

//Секция с курсом валют банка
.courses {
    width: 100%;
    margin-bottom: 48px;
    border: none;
    border-radius: 28px;
    background: linear-gradient(358.2deg, rgba(178, 178, 178, 0.8) 8.06%, rgba(178, 178, 178, 0) 67.93%), rgba(244, 244, 244, 0.9);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(187, 187, 187, 0.2);

    &__today {
        @include flex_justify-between;


        & h3 {
            word-break: break-word;
            font-size: 30px;
            font-weight: 600;
            color: #1C1C1E;
        }

        & time {
            color: #000;
        }

        & h3,
        time {
            line-height: 50px;
            margin: 0px;
            margin: 32px 32px 24px 32px;
        }
    }

    & span {
        margin-left: 32px;
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }

    &__case {
        @include flex_justify-between;
        margin-top: 32px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 438px;
        padding-left: 32px;
        list-style: none;
        text-transform: uppercase;

        @media (max-width: 700px) {
            width: 100%;
        }
    }

    &__item {
        margin-right: 32px;
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        color: #808080;

        & span {
            margin-left: 20px;
            font-weight: 700;
            line-height: 22px;
        }
    }

    & figure {
        margin: 0px 32px 38px 0px;
    }

    &__bank {
        width: 100%;
    }

    &__all {
        padding: 19px 0px 32px 32px;


        & a {
            font-size: 20px;
            font-weight: 700;
            line-height: 22px;
            text-decoration: none;
            color: #fff;

            &:hover {
                transition: 0.2s;
                color: #000;
            }
        }
    }
}

@media (max-width: 900px) {
    .courses {
        &__today {
            & h3 {
                font-size: 26px;
            }

            & time {
                font-size: 12px;
            }
        }
    }
}

@media (max-width:740px) {
    .courses {
        &__today {
            flex-direction: column;

            & h3 {
                font-size: 24px;
                word-break: break-word;

            }

            & h3,
            time {
                line-height: 24px;
                margin: 32px 0px 24px 32px;
            }

            & time {
                margin-top: 12px;
            }
        }

        &__case {
            margin-top: 12px;
        }
    }
}

@media (max-width:500px) {
    .courses {
        &__today {
            & h3 {
                margin: 24px 0px 24px 16px;
            }

            & time {
                margin: 0px 0px 24px 16px;
            }
        }
    }
}


//Секция с картой мира банков
.world {
    @include flex_justify-center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 76px;

    & h3 {
        margin: 0;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        word-break: break-word;
        color: $h;

    }

    & figure {
        & figcaption {
            font-size: 16px;
            font-weight: 600;
            line-height: 50px;
            text-align: center;
            word-break: break-word;
            margin-bottom: 48px;
            color: $black;
        }
    }

    &__map {
        width: 100%;
    }
}

//Секция с поддержкой
.support {
    @include flex_justify-center;
    align-items: center;
    flex-direction: column;

    & h3 {
        margin: 0;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 700;
        color: #EB801D;
    }

    & a {
        margin-bottom: 30px;
        text-decoration: none;
        font-size: 30px;
        font-weight: 600;
        line-height: 44px;
        color: $h;

        &:hover {
            transition: 0.2s;
            color: #B2A35F;
        }
    }

    &__form {
        @include flex_justify-between_aling-center;
        width: 524px;
        height: 89px;
        background-color: #fff;
        box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
        border: none;
        border-radius: 20px;

        @media (max-width: 550px) {
            width: 100%;
        }
    }

    &__icon-mail {
        cursor: pointer;
        margin: 30px 9px 30px 69px;

        & i {
            color: #9092B0;
        }

        @media (max-width: 550px) {
            margin: 20px 10px 20px 39px;
        }
    }

    &__email {
        margin: 30px 10px 30px 0px;
        font-size: 14px;
        height: 40px;
        border: 0.5px solid #fff;
        border-radius: 10px;

        &::placeholder {
            font-size: 20px;
            font-weight: 400;
            margin-left: 14px;
            color: #9092B0;
        }

        &:hover {
            border-color: #686DF1;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 1px #7d81fd;
        }

        @media (max-width: 550px) {
            width: 100%;
            margin: 20px 10px 20px 0px;
        }
    }

    &__button {
        width: 160px;
        margin: 22px 32px 22px 0px;
        background-color: #686DF1;
        border-radius: 20px;

        & i {
            margin: 2px 11px 2px 0px;
            color: #fff;
        }

        &:hover {
            transition: 0.2s;
            background-color: #41449b;
        }

        @media (max-width: 550px) {
            width: 100%;
            margin: 22px 22px 22px 0px;
        }
    }

}

@media (max-width:400px) {
    .support {
        & a {
            font-size: 22px;
            line-height: 34px;
        }
    }
}