@import 'scss/mixin';

.rates {
    margin-top: 16px;

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        @include flex_justify-between_align-center;
        width: 1016px;
        border-bottom: 1px solid #7F92AC;

        &:last-child {
            border-bottom: none;

            & p {
                margin: 20px 0px 0px 0px;

                & span {
                    display: block;
                    margin: 10px 0px 0px 0px;
                }
            }
        }

        & h3 {
            margin: 24px 0px 24px 0px;
            font-size: 1.6rem;
            font-weight: 600;
            color: #000;
        }

        & p {
            font-size: 1.6rem;
            font-weight: 500;
            word-break: break-word;
            color: #434343;
            width: 68%;
        }
    }

    &__line {
        width: 1016px;
        background-color: #7F92AC;
    }

    @media (max-width:1020px) {
        &__item {
            width: 100%;
        }
    }

    @media (max-width:900px) {

        &__list {
            padding: 0px;
        }

        &__item {
            justify-content: center;
            width: 100%;
            flex-direction: column;

            & h3 {
                margin: 12px 0px 12px 0px;
                text-align: center;
            }

            & p {
                text-align: center;
                padding-bottom: 12px;
            }
        }
    }
}