.successful {
    margin-top: 180px;
    margin-bottom: 238px;

    &-offers {
        margin-top: 48px;
        border: 1px solid #5B35D5;
        border-radius: 10px;

        & h2,
        p {
            text-align: center;
        }

        & h2 {
            margin-top: 24px;
            margin-bottom: 32px;
            font-size: 3rem;
            font-weight: 700;
            color: #1C1C1E;
        }

        & p {
            margin-bottom: 34px;
            font-size: 1.6rem;
            font-weight: 500;
            color: #4F5665;
        }
    }

    & h2,
    p {
        text-align: center;
    }

    & h2 {
        margin-top: 24px;
        margin-bottom: 32px;
        font-size: 3rem;
        font-weight: 700;
        color: #1C1C1E;
    }

    & p {
        font-size: 1.6rem;
        font-weight: 500;
        color: #4F5665;
    }
}