@import 'scss/mixin';

.customize-card {
    width: 100%;
    margin-top: 44px;
    padding-bottom: 24px;
    border-radius: 28px;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);

    &__wrapper {
        display: flex;
        align-items: flex-start;
    }

    &__select {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include flex_justify-between_align-center;
        width: 568px;

        & h3 {
            margin: 32px 0px 0px 0px;
            font-size: 3rem;
            font-weight: 700;
            word-break: break-word;
            line-height: 100%;
            color: #000;
        }

        & span {
            margin: 32px 0px 0px 0px;
            font-size: 1.6rem;
            font-weight: 600;
            word-break: break-word;
            line-height: 100%;
        }
    }

    @media (max-width:965px) {
        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        .dividers {
            &.dashed {
                margin-left: 1%;
                margin-right: 1%;
                height: 0px;
                width: 98%;
                margin-top: 30px;
                border-top: 1px dashed #80808066;
            }
        }
    }

    &__select-amount {
        width: 518px;
        height: 164px;
        margin-top: 32px;
        padding-left: 24px;
        padding-right: 24px;
        border: 1px solid #5B35D5;
        border-radius: 10px;

        & h3 {
            margin-top: 24px;
            margin-bottom: 20px;
            font-size: 1.6rem;
            font-weight: 600;
            color: #000;
        }

        & h4 {
            margin: 0;
            margin-bottom: 20px;
            font-size: 1.6rem;
        }

        & span {
            font-size: 1.6rem;
            line-height: 100%;
            color: #786D6D;
        }
    }

    &__amount {
        @include flex_justify-center;
        flex-direction: column;
        margin-top: 32px;
        margin-left: 40px;

        & h3 {
            margin: 0px 0px 16px 0px;
            font-size: 2rem;
            font-weight: 700;
            color: #000;
        }

        & span {
            margin-bottom: 10px;
            font-size: 1.6rem;
            font-weight: 600;
            color: #000;
        }
    }

    @media (max-width:1300px) {
        & {
            width: 98%;
            margin-left: 1%;
            margin-right: 1%;
        }
    }


    @media (max-width:965px) {
        &__amount {
            margin-left: 0px;
        }
    }

    @media (max-width: 640px) {
        & div {
            width: 94%;
        }
    }

    @media (max-width: 500px) {
        &__title {
            flex-direction: column;
            align-items: baseline;
        }

        &__select-amount {
            padding-left: 12px;
            padding-right: 12px;
        }

        & div {
            & span {
                font-size: 1.4rem;
            }
        }
    }
}