@import 'scss/mixin';

button {
    cursor: pointer;
    @include flex_justify-center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 8px;
    background-color: #003CFF;
    color: #fff;
    border: none;
    border-radius: 16px;
    font-size: 1.6rem;
    font-weight: 700;

    &:hover {
        transition: 0.2s;
        background-color: #7796C0;
    }
}