.pin-wrapper{
    margin-top: 120px;
    margin-bottom: 95px;
}
.title-pin{
    margin-bottom: 32px;
    font-size: 3rem;
    font-weight: 700;
    word-break: break-word;
    text-align: center;
    color: #1C1C1E;
}

.form-pin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.errors-pin{
    margin-top: 16px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: #FF5631;
}