/*Данные переменные позволят поменять всю тему сайта со светлой на темную*/
$background_site: #F5F4FF; /* #2c2c2c */
$neo_color-violet: #B4387A;
$h: #1C1C1E; /* #f0f0f0 */
$black: #000; /* #f0f0f0 */
$header_link: #1D1929; /* #f0f0f0 */