@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import './normolise';
@import './vars';
@import './mixin';
@import './mainLoan';

/* обертка над всеми основными частями страницы */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    background-color: $background_site;

}

/* прижимаю footer к низу страницы */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &__main {
        margin-bottom: 96px;
        width: 1300px;
    }
}

header,
main,
footer {
    @include flex_justify-center;
    width: 100%;
}

main {
    flex: 1 1 auto;
    word-break: break-all;
}

footer {
    background: linear-gradient(0deg, rgba(178, 178, 178, 0.2), rgba(178, 178, 178, 0.2)), #F4F4F4;
}