// вынести в отдельный файл pin
.pin {
    display: flex;
    &__input {
        display: inline-block;
        border: 1px solid #808080;
        border-radius: 8px;
        width: 48px;
        height: 48px;
        font-size: 2rem;
        font-weight: 700;
        color: #000;
        text-align: center;
        position: relative;

        &::placeholder {
            content: url(../../../img/svg/Ellipse.svg);
            position: absolute;
            top: 30%;
            left: 30%;
        }

        &:hover {
            border-color: #2993f7;
            border-right-width: 1px;
        }

        &:focus {
            outline: none;
            border-color: #3182CE;
            box-shadow: 0 0 0 1px #3182CE;
            border-right-width: 1px;
        }

        &:focus-visible {
            border-color: #2993f7;
            border-right-width: 1px;
        }
    }

    &__ellipse {
        position: relative;
        top: 3px;
        right: 37px;
        visibility: visible;
    }

    .focus {
        visibility: hidden;
    }
}